{
    "scroll": "10s",
    "db": {
        "user": "#######",
        "password": "#######",
        "database": "form555dev",
        "host": "nc-dev-edb-4320.usacdev.loc",
        "schema": "form555",
        "port": 5444,
        "dialect": "postgre"
    },
    "index": {
        "type": "elasticsearch",
        "host": "li-dev-es-4100.usacdev.loc",
        "apiVersion": "5.6",
        "port": 9200
    },
    "mappers": [
        {
            "index_name": "li497-dev",
            "table_name": "form497index",
            "index_pk": "_id",
            "table_pk": "indexid",
            "fields": {
                "_type": {
                    "maps": "type",
                    "type": "string"
                },
                "_source": {
                    "maps": "index",
                    "type": "json"
                }
            },
            "active": false
        },
        {
            "index_name": "li555-dev",
            "table_name": "form555index",
            "index_pk": "_id",
            "table_pk": "indexid",
            "fields": {
                "_type": {
                    "maps": "type",
                    "type": "string"
                },
                "_source": {
                    "maps": "index",
                    "type": "json"
                }
            },
            "active": true
        }
    ]
}