{
    "db": {
        "username": "postgres",
        "password": "postgres",
        "database": "local-test",
        "host": "127.0.0.1",
        "post": 5432,
        "dialect": "postgre"
    },
    "index": {
        "type": "elasticsearch",
        "username": "elk",
        "password": "root",
        "host": "127.0.0.1",
        "post": 9300
    },
    "mapper": {
        "index_name": {
            "table": "table_name",
            "fields": {
                "field_1": {
                    "column_name": "uuid",
                    "type": "string",
                    "active": "true"
                },
                "field_2": {
                    "column_name": "data",
                    "type": "json",
                    "active": "true"
                },
                "field_3": {
                    "column_name": "createOn",
                    "type": "date",
                    "active": "true"
                }
            },
            "active": "true"
        }
    }
}